* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:midnightblue;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: azure;
    padding: 8px 25px;
    transition: all 1s ease forwards;
}

.navbar ul li a:hover{
    background-color: azure;
    color: midnightblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    height: 800px;
    justify-content: center;
    align-items: center;
    color: azure;
}

#main:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url(./img/Cover.JPG) no-repeat center center/cover;
    height: 840px;
    width: 100%;
    z-index: -1;
    opacity: 0.08px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px;
    color: midnightblue;
}

.butt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 5px 20px 5px;
    background-color: transparent;
    border: 2px solid azure;
    color: azure;
    outline: none;
    font-size: 24px;
    border-radius: 10px;
}

.butt:hover {
    cursor: pointer;
    background-color: azure;
    color: midnightblue;
    box-shadow: 0 0 5px azure, 0 0 10px azure, 0 0 5px azure;
    font-weight: bold;
}

#Intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: 0 auto;
}

.text {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: midnightblue
}

#portrait{
    display: flex;
}

#portrait img{
    width: 1000px;
    height: 400px;
    border-radius: 20px;
}

#about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
    height: 540px;
}

#about h2 {
    font-size: 42px;
    margin-bottom: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
    margin: 40px 0px;
    color: midnightblue;
}

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
    color:azure;
    align-items: center;
    padding: 30px;
   
}

.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-sizing: border-box;  
    margin: 10px;
   
}

.projects img{
    width: 360px;
    height: 240px;
    margin: 10px;
    border-radius: 10px;
}

.container {
        background-color: transparent;
        border: 2px solid azure;
        color: azure;
        outline: none;
        font-size: 16px;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
        margin: 10px;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container .butt {
        padding: 5px 20px 5px;
        background-color: transparent;
        border: 2px solid azure;
        color: azure;
        outline: none;
        transition: 0.6s ease forwards;
        font-size: 16px;
        border-radius: 10px;
        margin: 10px;
    }
    
    .butt:hover {
        cursor: pointer;
        background-color: azure;
        color: midnightblue;
        box-shadow: 0 0 5px azure, 0 0 10px azure, 0 0 5px azure;
        font-weight: bold;
}

#experiences {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 740px;
    
}

.role {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 60px;
}

.headers {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    color: azure;
}

.typing, .typing2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    color: crimson;
}

.texts {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: azure;
}

.duties {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    text-align: justify;
    border: 2px solid midnightblue;
    align-items: center;
    border-radius: 20px;
    padding: 25px;
    background: linear-gradient(to top, midnightblue 50%, azure 50%); 
    background-size: 100% 200%;
    transition: all 0.5s;
}

.duties:hover {
    background-position: left bottom;
    color: azure;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: midnightblue;
    color: azure;
    padding: 30px; 
    height: 740px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items:center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 10px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: none;
    outline: none;
}

#send {
    padding: 15px;
    margin: 20px;
    width: 10%;
    border: none;
    outline: none;
    background-color: transparent;
    border: 2px solid azure;
    color: azure;
}

#send:hover {
    cursor: pointer;
    background-color: azure;
    color: midnightblue;
    box-shadow: 0 0 5px azure, 0 0 10px azure, 0 0 5px azure;
    font-weight: bold;
}

.resume {
    background-color: midnightblue;
    max-width: 100%;
    max-height: 100%;
}

#resume {
    width: 85%;
    height: 1000px;
    margin-left: 100px;
}